= render "header" 
.pay-new
  .pay-new__contents-new
    .pay-new__contents-new__content-new
      %h1 支出を入力
      = render 'form', pay: @pay
    .pay-new__contents-new__back-btn
      = link_to '戻る', :back
