
.devise-header{
  height: 100px;
  width: 100%;
  background-color:rgba(33, 99, 221, 0.8);
  &__devise-header-menu{
    padding:10px;
    line-height: calc(100px - 20px);
    text-align: center;
    a{
      font-size: 40px;
      color: #fff;
    }
  }
}

.devise{ 
  background-color: #FFFFCC;
  width: 100%;
  padding: 50px;
  &__contents-devise{
    border-radius: 50px;
    margin:0px auto ;
    width: 600px;
    padding: 20px; 
    background-color: #fff; 
    &__content-devise{
      h2{
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 50px;
        border-bottom: 1px solid  rgb(221, 221, 221);
      } 
      .devise-form{
        margin: 0 auto;
        max-width: 80%;
        .devise-field{
          &__devise-name{
            padding: 10px 0;
            letter-spacing: 1px;
            font-size: 40px;
            font-weight: 200;
          }
          &__devise-date{
            input{
               @include form;
            }
          }
        }
        .actions{
          margin: 20px auto;
          width: 50%;
          input{
            color: #fff;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 50px;
            margin: 16px 0px 30px 0px;
            height: 60px;
            font-weight: 500;
            font-size: 25px;
            background-color: rgba(33, 99, 221, 0.8);
          }
        }
      }   
    }       
  }
}