.pay-categories{ 
  background-color: #FFFFCC;
  width: 100%;
  height: auto;
  padding: 50px;
  &__contents-pay-categories{
    border-radius: 50px;
    margin:0px auto ;
    width: 600px;
    padding: 20px; 
    background-color: #fff; 
    &__content-pay-categories{
      h2{
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        border-bottom: 1px solid  rgb(221, 221, 221);
      } 
      .pay-categories-form{
        margin: 0 auto;
        max-width: 80%;
        .pay-categories-field{
          text-align: center;
          &__pay-categories-name{
            padding: 10px 0;
            letter-spacing: 1px;
            font-size: 15px;
            font-weight: 200;
          }
          &__pay-categories-date{
            input{
              border: 1px solid #ccc;
              border-radius: 4px;
              width: 50%;
              height: 30px;
              padding: 0 16px;
            }
          }
        }
        .pay-categories-actions{
          margin: 0px auto;
          width: 30%;
          input{
            color: #fff;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 50px;
            margin: 16px 0px 30px 0px;
            height: 40px;
            font-weight: 500;
            font-size: 15px;
            background-color: rgba(33, 99, 221, 0.8);
          }
        }
      }
      .pay-categories-menus{
        height: 400px;
        overflow-x: scroll;
        border: 1px solid #cccccc;
        border-radius: 50px; 
        margin :20px 40px;
        padding: 20px 40px;
        position: relative;
        &__pay-categories-menu{

          text-align: center;
          font-size: 20px;
         
        }
        &__pay-categories-paginate{
          position: absolute;
          bottom: 50px ;
          right: 20px;
          a{
            color: black;
          }
        }
      }   
    }       
  }
}