
.header{
  height: 10vh;
  width: 100vw;
  background-color:rgba(33, 99, 221, 0.8);
  &__header-menu{
    padding:10px;
    line-height: calc(10vh - 20px);
    display: flex;
    justify-content: space-between;
    &__user-name-title{
      font-size: 40px;
      color: #fff;
      margin-left: 30px;
    }
    &__user-menu{

    }
    &__login{
      text-align: center;
    }
    a{
      font-size: 20px;
      color: #fff;
    }

  }
}
.contents{
  height: calc(100vh - 10vh);
  width: 100%;
  display: flex;
  background-color: #FFFFCC;
  &__calendars{
    padding:40px 20px; 
    background-color: #fff;    
    .simple-calendar {
      height: 50vh;
      .calendar-heading{
        text-align: center;
        font-size: 30px;
      }
      table {
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid rgb(221, 221, 221);
        border-collapse: collapse;
        box-sizing: border-box;
        max-width: calc(100vw - 30vw);
        width: calc(100vw - 30vw);
      }

      tr {
        border-collapse: collapse;
      }

      th {
        padding: 6px;
        border-bottom: 2px solid rgb(221, 221, 221);
        border-collapse: collapse;
        border-left: 1px solid rgb(221, 221, 221);
        border-right: 1px solid rgb(221, 221, 221);
        border-top: 0px none rgb(51, 51, 51);
        box-sizing: border-box;
        text-align: left;
      }

      td {
        padding: 6px;
        vertical-align: top;
        width: 14%;
        border: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgb(221, 221, 221);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgb(221, 221, 221);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(221, 221, 221);
        border-left-style: solid;
        border-left-width: 1px;
      }

      .day {
        height: 150px;
      }
      .today {
        background: #FFFFC0
      }

      .past {

      }
      .future {}

      .start-date {}

      .prev-month {
        background: #DDD;
      }
      .next-month {
        background: #DDD;
      }
      .current-month {}

      .has-events {}
    }
  }
  &__side-bar{
    padding:40px 20px;
    width: 100%;
    &__side-contents{
      h1{
        font-size: 30px;
        text-align: center;
      }
      &__search-name{
        font-size: 20px;
      }
      &__search-form{
        select{
          width: 30%;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-top: 10px;
          height: 50px;
          background-color: #fFF;
        }
      }
      &__search-btn{
        margin: 10px auto;
        width: 50%;
        input{
          cursor: pointer;
          color: #fff;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 50px;
          margin-top: 16px;
          height: 50px;
          font-weight: 500;
          background-color: rgba(33, 99, 221, 0.8);
        }
      }
    }
    &__search-results{
      h2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
      }
      &__pay-results{
        &__pay-result{
          margin: 20px 0px;
          border-bottom: 1px solid #ccc;
          a{
            color: black;
          } 
        }
        &__pay-result :hover{
          background-color: #fff;
          color: red;
        }
      }
    }
  }
}
